svg{
    margin-top:-1px;
}

/*PRODUCTS DIVIDER*/
.custom-shape-divider-top-1684836416 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.custom-shape-divider-top-1684836416 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 109px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1684836416 .shape-fill {
    fill: #FFFFFF;
}
/*END*/


/*PARTNERS DIVIDER*/
.custom-shape-divider-bottom-1685080111 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1685080111 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 122px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1685080111 .shape-fill {
    fill: #E3F2FD;
}
/*END*/


/*COMPANY DIVIDER*/
.custom-shape-divider-top-1685080178 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1685080178 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 122px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1685080178 .shape-fill {
    fill: #E3F2FD;
}
/*END*/


/*PARTNERS PAGE DIVIDER*/
.custom-shape-divider-bottom-1687427099 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1687427099 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 92px;
}

.custom-shape-divider-bottom-1687427099 .shape-fill {
    fill: #E3F2FD;
}
/*END*/

/*COMPANY PAGE DIVIDER*/
.custom-shape-divider-bottom-1685697329 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1685697329 svg {
    position: relative;
    display: block;
    width: calc(176% + 1.3px);
    height: 70px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1685697329 .shape-fill {
    fill: #E3F2FD;
}
/*END*/

/*COMPANY PAGE DIVIDER 2*/
.custom-shape-divider-top-1685697938 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1685697938 svg {
    position: relative;
    display: block;
    width: calc(165% + 1.3px);
    height: 88px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1685697938 .shape-fill {
    fill: #E3F2FD;
}
/*END*/